	<div id="imageAboutUs" class="container">
      <%=image_tag("aboutUs/1", alt: "", class:"img-fluid")%>
    </div>
    
    <div class="container margin">
      <h1 class="deepColor text-center">Misión</h1>
      <p class="textSection">Ofrecer soluciones tecnológicas al entorno subacuático Colombiano, buscando fortalecer el aprovechamiento y conservación de los recursos hídricos del país, aplicando ingeniería de vanguardia.</p>
    </div>

    <div class="container margin">
      <h1 class="deepColor text-center">Visión</h1>
      <p class="textSection">Para el año 2023, DeepCo se habrá consolidado como empresa referente en la implementación de tecnologías innovadoras para el entorno subacuático, generando soluciones a la medida de las necesidades de nuestros clientes, y aportando al conocimiento científico, comercial e industrial del recurso hídrico Colombiano.</p>
    </div>

    <!-- DeepCo TEAM -->
    <h2 class="margin text-center deepColor">Equipo de trabajo</h2>
    <div class="container text-center text-md-left margin">

      <div class="row">

        <div class="col-md-2">
          <%=image_tag("aboutUs/us/SAS", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4">
          <h4>Sergio A. Suárez Vélez, M.Sc.</h4>
          <h5>Ingeniero Mecánico</h5>
          <p class="justify">Vigilancia tecnológica, diseño e integración de sistemas mecánicos y procesamiento de polímeros.</p>
        </div>

        <div class="col-md-2">
          <%=image_tag("aboutUs/us/DCH", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4">
          <h4>Diana C. Hernández Jaramillo, M.Sc.</h4>
          <h5>Ingeniera Aeronáutica</h5>
          <p class="justify">Dinámica computacional de fluidos y metodologías de diseño biomimético.</p>
        </div>

      </div>

      <div class="row marginAboutUs">

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/EPV", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Esteban Palacio Velásquez, M.Sc.</h4>
          <h5>Ingeniero Mecánico</h5>
          <p class="justify">Diseño, integración y manufactura de sistemas mecánicos con enfasis en la implementación de metodologias de diseño.</p>
        </div>

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/LMA", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Luis Miguel Aristizábal Gómez, M.Sc.</h4>
          <h5>Ingeniero Electrónico</h5>
          <p class="justify">Diseño e integración de sistemas electrónicos y sistemas embebidos.</p>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/CVC", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Cindy V. Carmona Cadavid, M.Sc.</h4>
          <h5>Ingeniera de Control</h5>
          <p class="justify">Diseño e integración de infraestructuras de comunicación y diseño de estrategias de control.</p>
        </div>

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/ABG", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Andrea Builes Gómez, M.Sc.</h4>
          <h5>Ingeniera Mecánica</h5>
          <p class="justify">Diseño e integración de sistemas mecánicos, selección de materiales, y CAD-CAE-CAM.</p>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/YV", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Yesid O. Valencia Soto, M.Sc.</h4>
          <h5>Ingeniero Electrónico</h5>
          <p class="justify">Sistemas de información geográfica y diseño e integración de sistemas electrónicos.</p>
        </div>

        <div class="col-md-2 marginAboutUs">
          <%=image_tag("aboutUs/us/CDM", alt: "", class:"img-fluid center deepPhotos")%>
        </div>

        <div class="col-md-4 marginAboutUs">
          <h4>Cristian D. Martínez Posada, M.Sc.</h4>
          <h5>Ingeniero Electrónico</h5>
          <p class="justify">Sistemas de adquisición, instrumentación IoT.</p>
        </div>

      </div>
    </div>


