	<div class="container margin justify">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 justify">
          <h2 class="deepColor"><%= t :capabilities1 %></h2>
          <p><%= t :capabilities1Text1 %></p>
          <p><%= t :capabilities1Text2 %></p>
          <ul>
            <li>
              <p><%= t :capabilities1Ulist1 %></p>
            </li>
            <li>
              <p><%= t :capabilities1Ulist2 %></p>
            </li>
            <li>
              <p><%= t :capabilities1Ulist3 %></p>
            </li>
            <li>
              <p><%= t :capabilities1Ulist4 %></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 margin justify">
          <h2 class="deepColor"><%= t :capabilities2 %></h2>
          <p><%= t :capabilities2Text1 %></p>
          <p><%= t :capabilities2Text2 %></p>
          <ul>
            <li>
              <p><%= t :capabilities2Ulist1 %></p>
            </li>
            <li>
              <p><%= t :capabilities2Ulist2 %></p>
            </li>
            <li>
              <p><%= t :capabilities2Ulist3 %></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 margin justify">
          <h2 class="deepColor"><%= t :capabilities3 %></h2>
          <p><%= t :capabilities3Text1 %></p>
          <p><%= t :capabilities3Text2 %></p>
          <ul>
            <li>
              <p><%= t :capabilities3Ulist1 %></p>
            </li>
            <li>
              <p><%= t :capabilities3Ulist2 %></p>
            </li>
            <li>
              <p><%= t :capabilities3Ulist3 %></p>
            </li>
            <li>
              <p><%= t :capabilities3Ulist4 %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>


