<div class="container margin3 justify">  
  <h1 class="deepColor">Nuestra experiencia</h1>
</div>

<div class="container margin3 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 margin1 justify">
      <h2 class="deepColor">Empresas que han contado con nosotros</h2>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_upb2", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_ecopetrol", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Capacitación en el diseño y desarrollo de tecnología subacuática.</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_udea", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Capacitación y Puesta a punto de Vehículo Operado Remotamente ROV.</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_418", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_felipeDiving", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Diseño e implementación de un sistema acústico para incrementar la seguridad durante las inmersiones de buceo.</div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container margin3 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
      <h2 class="deepColor">Otras relaciones comerciales</h2>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_coralesDePaz", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Desarrollo de un sistema de estabilización para cámaras.</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_dita", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Diseño y fabricación de un Vehículo autónomo de superficie.</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_gotta", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div>Sustitutos de importación para cables subacuáticos.</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>