<div class="container margin3 justify">  
  <h1 class="deepColor"><%= t :capabilities %></h1>
</div>

<div class="container margin3 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 margin1 justify">
      <h2 class="deepColor"><%= t :experienceTitle %></h2>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_upb2", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_ecopetrol", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText11 %></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_udea", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText12 %></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_418", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-2 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_felipeDiving", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText13 %></div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container margin3 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
      <h2 class="deepColor"><%= t :experienceTitle2 %></h2>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_coralesDePaz", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText21 %></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_dita", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText22 %></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container margin3 bordeDeepco text-center text-md-left">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("logos/deepco_gotta", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <div><%= t :experienceText23 %></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>