<div class="container margin justify">  
  <h1 class="deepColor"><%= t :contactTitle %></h1>
</div>

<div class="container containerContacto margin2">
  <h2 class="text-center"><%= t :contactText1 %></h2>
  <h3 class="margin1 text-center"><%= t :deepcoMail %></h3>
  <h2 class="text-center margin"><%= t :contactText2 %></h2>
  <h3 class="margin1 text-center"><%= t :deepcoPhone %></h3>
  <!-- <h3 class="">sergio.suarez@deepco.com.co</h3>
  <h3 class="">cindy.carmona@deepco.com.co</h3> -->
</div>


