<div class="container margin3 justify">  
  <h1 class="deepColor">Desarrollos</h1>
</div>

<div class="container margin1 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
      <p><%= t :capabilities2Text1 %></p>
      <p><%= t :capabilities2Text2 %></p>
      <ul>
        <li>
          <p><%= t :capabilities2Ulist1 %></p>
        </li>
        <li>
          <p><%= t :capabilities2Ulist2 %></p>
        </li>
        <li>
          <p><%= t :capabilities2Ulist3 %></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container margin3 justify">  
  <h2 class="deepColor">Aplicaciones de nuestros desarrollos</h2>
</div>

<div class="container margin1 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
        
        <div>
          <div class="container text-center margin1 text-md-left">
            <div class="row">
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <h4>Sistema de estabilización para cámaras</h4>
                <p>Dispositivo de estabilización para captura de imágenes usadas para realizar fotomosaicos en zonas de restauración coralina (Imagen de referencia del Scripps Institution of Oceanography, UC San Diego)</p>
              </div>
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("desarrollos/deepco_estabilizador", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container text-center margin1 text-md-left">
            <div class="row">
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <h4>Vehículo autónomo de superficie</h4>
                <p>Plataforma multipropósito para investigación y recolección de elementos sólidos en superficie</p>
              </div>
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("desarrollos/deepco_asv", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="container text-center margin1 text-md-left">
            <div class="row">
              <div class="col-md-8 col-sm-12 col-12 my-auto justify">
                <h4>Sistema de alerta para buzos</h4>
                <p>Sistema que incrementa la seguridad durante actividades de buceo</p>
              </div>
              <div class="col-md-4 col-sm-12 col-12 my-auto iconsService mx-auto marginForCellphone">
                <%=image_tag("desarrollos/deepco_ugps", alt: "deepco", class:"d-block w-100 mx-auto")%>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>


