<div class="container margin justify">

  <p class="text-center"><strong>DETALLES TECNOLÓGICOS DEL TESORO SUMERGIDO</strong></p>

  <p>Los colombianos al igual que la comunidad internacional se encuentran a la expectativa de conocer los detalles acerca del rescate del Galeón San José, navío español hundido por la armada británica en el siglo XVIII cerca de Cartagena de Indias (Figura 1). Este artículo busca presentar una mirada técnica sobre el hallazgo de este yacimiento arqueológico, más allá de la disputa jurídica internacional sobre su titularidad y de las especulaciones acerca de su valor económico.</p>

  <p><%=image_tag("galeon/Image_0", alt: "deepco", class:"d-block w-75 rounded mx-auto")%></p>
  <p class="text-center"> 
    Figura 1. Posible ubicación del Galeón San José <a href="#[1]">[1]</a>
  </p>

  <p>El hallazgo más reciente del naufragio del Galeón San José se hizo público en noviembre de 2015 tras realizar misiones en conjunto entre el Instituto Colombiano de Antropología e Historia (ICAHN), la Dirección General Marítima colombiana (DIMAR), especialistas del MAC (<u>Maritime Archaeology Consultants</u>) y técnicos de la Institución Oceanográfica Woods Hole (<u>Woods Hole Oceanographic Institution-WHOI</u>), utilizando el buque oceanográfico de la Armada de Colombia "ARC Malpelo". Este descubrimiento es una oportunidad única para abrir el diálogo acerca de las capacidades técnicas y tecnológicas del país para afrontar el desafío asociado a los procesos de intervención, extracción y preservación del naufragio.</p>


  <p>Algunas de las características técnicas del sitio del hallazgo se pueden encontrar en los apéndices técnicos de la Asociación Público-Privada (APP) publicada en el sitio web del <u>SECOP I</u><a href="#[2]"> [2]</a>, donde también se mencionan algunos de los dispositivos utilizados para el descubrimiento y los equipos propuestos para las fases posteriores del proyecto. De acuerdo a esta información, se exploró un área de 500,000 m2 de amplitud utilizando un sonar de barrido lateral a bordo del  vehículo autónomo subacuático (AUV, <i>Autonomous Underwater Vehicle</i>) <i><u>Remus 6000</i></u><a href="#[3]"> [3]</a><a href="#[4]"> [4]</a>, suministrado por el WHOI. Con este dispositivo se generaron imágenes de alta resolución, las cuales facilitaron la detección de zonas con indicios del naufragio debido a la presencia de anomalías en el fondo marino<a href="#[5]"> [5]</a>.</p>

  <p><strong>Nota técnica:</strong> un <u>sonar de barrido lateral</u><a href="#[6]"> [6]</a> es un sistema acústico utilizado para generar imágenes de alta resolución del suelo marino por medio de la emisión de ondas de alta frecuencia.</p>
  <p> </p>
  <p><strong>Nota técnica:</strong> un AUV (Vehículo autónomo subacuático por sus siglas en inglés) es un vehículo tipo submarino que está en capacidad de navegar y seguir trayectorias sin intervención humana, incluso algunos modelos existentes pueden tomar decisiones tan complejas como la vida o la muerte de alguna especie invasora como la estrella de mar corona de espinas en Australia (<u>COTSbot</u><a href="#[7]"> [7]</a>, y <u>RangerBot</u><a href="#[8]"> [8]</a>).</p>

  <p>Una misión posterior incluyó un <u>perfilador de subfondo</u><a href="#[9]"> [9]</a> y un <u>sonar multihaz</u><a href="#[10]"> [10]</a> para explorar las zonas de alto interés identificadas anteriormente y para generar una reconstrucción tridimensional del área. El primero permite la detección de anomalías en el subsuelo marino, y el segundo facilita la reconstrucción tridimensional de un área específica a partir de la emisión de varias señales de ultrasonido. Adicionalmente, se empleó un magnetómetro para la detección de metales sumergidos por medio de las variaciones en el campo magnético. En la Figura 2. se pueden observar algunas de las tecnologías mencionadas.</p>


  <p><%=image_tag("galeon/Image_1", alt: "deepco", class:"d-block w-75 rounded mx-auto")%></p>
  <p class="text-center">Figura 2. Ejemplo de la tecnología utilizada para la identificación e intervención de yacimientos arqueológicos</p>


  <p>El hallazgo de varias anomalías próximas entre sí a más de 600 m de profundidad llevaron a un análisis más profundo de esa zona en particular con escaneos de sonar de mayor resolución y un registro fotográfico más detallado. De esta manera se lograron identificar artefactos arqueológicos pertenecientes al naufragio del Galeón San José. La Figura 3.c) se puede observar un fotomosaico de los restos del naufragio. Esta imagen se construyó a partir de 6000 fotos tomadas a 80 centímetros del fondo marino, lo que permite observar algunos de los cañones con los que contaba esta embarcación. </p>

  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_2", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">a)</figcaption>
        </figure>
      </div>
      <div class="col-6 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_3", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">b)</figcaption>
        </figure>
      </div>
      <div class="col-12 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_4", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">c)</figcaption>
        </figure>
      </div>
    </div>
  </div>
  
  <p></p>

  <p class="text-center">Figura 3. Imágenes de los restos del Galeón San José a 600 metros de profundidad<a href="#[11]"> [11]</a>. a) Fotomosaico realizado con imágenes del REMUS 6000 por Jeff Kaeli, Woods Hole Oceanographic Institution. b) Imágen de cerámicas y artefactos tomada con el REMUS 6000, Woods Hole Oceanographic Institution. c) Fotomosaico propiedad del Instituto Colombiano de Antropología e Historia <u>ICANH</u><a href="#[12]"> [12]</a></p>


  <p>En el 2016 se realizaron nuevas misiones de reconocimiento, esta vez desde el buque “Seabed Prince” equipado con dos <u>ROV</u> <i>Schilling</i><a href="#[13]"> [13]</a><a href="#[14]"> [14]</a>, vehículos operados remotamente (<i>Remotely Operated Vehicle</i>), que permiten realizar tareas más específicas y precisas que los AUV. La principal característica de los ROVs es que se encuentran conectados físicamente a través de un cable a una estación de superficie ubicada normalmente en la cubierta de un buque oceanográfico.</p>

  <p>Durante la misión, uno de los ROV estaba equipado con diferentes cámaras para realizar tareas de observación y captura de imágenes, mientras que el segundo ROV se encontraba equipado con dos brazos robóticos utilizados para tareas de medición. En algunos casos los brazos se utilizan para recolectar muestras biológicas y de rocas que posteriormente son almacenadas a bordo del ROV dentro de compartimentos. </p>

  <p>Toda la información recopilada utilizando tecnología subacuática, ha servido para establecer los requerimientos para una futura etapa de intervención y recuperación del Galeón San José, la cual se espera sea determinada próximamente. De acuerdo a la documentación de la <u>Asociación Público Privada</u> (APP)<a href="#[15]"> [15]</a>, en esta etapa se deberá emplear una metodología arqueológica que permita registrar completamente el yacimiento y que garantice un procedimiento seguro para el registro de cada uno de los objetos que sean recuperados. </p>

  <p>Para la fase de intervención, es decir, el momento en el que se realicen las labores asociadas a la recuperación del patrimonio arqueológico, la empresa <u>MAC</u><a href="#[16]"> [16]</a> propone utilizar una plataforma en el lecho marino (Figura 4) que servirá de soporte para operar un ROV durante el proceso de remoción de sedimentos con la inyección de chorros de aire. Ellos proponen que adicionalmente se debe contar con un sistema de absorción que permitiría succionar estos sedimentos para que los objetos queden al descubierto y puedan ser recolectados por otro ROV, el cual estará equipado con las herramientas necesarias para la extracción. Cada pieza extraída sería trasladada por el ROV a compartimentos de almacenamiento que posteriormente serían llevados a superficie. Estas tareas deberán ser realizadas con la mayor precisión y cautela con el fin de no afectar las piezas encontradas, debido a esto, la etapa de intervención podrá tardar varios meses en ser completada. </p>

   <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_5", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">a)</figcaption>
        </figure>
      </div>
      <div class="col-6 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_6", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">b)</figcaption>
        </figure>
      </div>
      <div class="col-12 text-center">
        <figure class="figure">
          <%=image_tag("galeon/Image_7", alt: "deepco", class:"w-75 rounded mx-auto")%>
          <figcaption class="figure-caption">c)</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <p class="text-center">Figura 4. a) <u>Marco de excavación</u> en superficie (Fredrik Søreide)<a href="#[17]"> [17]</a>, b) Marco de excavación (Brynjar Wiig)<a href="#[18]"> [18]</a>, c) Plataforma arqueológica mecanizada  <u>MAC</u><a href="#[19]"> [19]</a></p>

  <p>La tecnología necesaria para las etapas de identificación e intervención de yacimientos arqueológicos, como es el caso del Galeón San José, está disponible comercialmente y es operada principalmente por compañías internacionales. Sin embargo, es importante resaltar que en nuestro país se han estado formando capacidades técnicas y experiencia en el desarrollo y operación de tecnología subacuática. Una muestra de ello es el esfuerzo conjunto de academia-industria-estado reflejado en el Programa de Robótica Submarina para la exploración de los fondos marinos Colombianos (PRS). El cual es co-financiado por la  Universidad Pontificia Bolivariana, Ecopetrol, Colciencias y la Universidad Nacional de Colombia y co-ejecutado por la Universidad Pontificia Bolivariana y la Universidad Nacional de Colombia. En donde también han participado otras instituciones como es el caso del Centro de Investigaciones Oceanográficas e Hidrográficas (CIOH) de la División General Marítima (DIMAR), para pruebas a bordo del buque de investigación hidrográfico de la Armada de Colombia “ARC Roncador”, lo cual constituye un <u>avance significativo en temas de investigación submarina</u><a href="#[20]"> [20]</a> en el territorio de nuestro país. </p>

  <p>Hoy en día, una parte significativa de los conocimientos y experiencias resultantes del proyecto mencionado están concentradas en la empresa a cargo de esta publicación. <u>DeepCo SAS</u> es una empresa de ingeniería enfocada en el desarrollo e integración de tecnologías que faciliten la interacción de empresas, entidades e instituciones con ambientes sumergidos. El equipo de trabajo que conforma la empresa hizo parte de las etapas de diseño, prototipado y pruebas del vehículo desarrollado en el PRS.</p>

  <p>Sin lugar a dudas, el <u>Galeón San José</u> representa un gran desafío tecnológico y técnico para el país, por lo tanto, es imprescindible realizar un trabajo interdisciplinario involucrando arqueólogos, oceanógrafos, geólogos, ingenieros, entre otros expertos. Los esfuerzos deben estar enfocados en la integración de conocimientos y en la formación y desarrollo de capacidades en Colombia que estén alineadas con los objetivos del país y que a su vez, sirvan para la toma de decisiones, de modo que se logre recuperar, preservar y divulgar esta pieza invaluable de nuestro patrimonio cultural. </p>

  <p class="margin text-center"><strong>REFERENCIAS</strong></p>

  <ol>
    
    <li id="[1]">Porras, Jose. (2018). Breve reseña histórica del Galeón San José. Recuperado 08 de abril, 2019, de <u><a href="https://www.researchgate.net/publication/327427063_Breve_resena_historica_del_Galeon_San_Jose" target="_blank">https://www.researchgate.net/publication/327427063_Breve_resena_historica_del_Galeon_San_Jose</a></u></li>

    <li id="[2]">SECOP I, APP DE PATRIMONIO CULTURAL SUMERGIDO PROYECTO SAN JOSE.  Recuperado 08 de abril, 2019 de <u><a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=18-20-5038" target="_blank">https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=18-20-5038</a></u></li>

    <li id="[3]">Ministerio de Cultura, República de Colombia, Apéndice Técnico 2: Especificaciones de la intervención. Contrato de concesión patrimonio cultural sumergido bajo el esquema de APP.</li>

    <li id="[4]">Kongsberg, Autonomous Underwater Vehicle, REMUS 6000. Recuperado 08 de abril, 2019 de <u><a href="https://www.kongsberg.com/maritime/products/marine-robotics/autonomous-underwater-vehicles/AUV-remus-6000/" target="_blank">https://www.kongsberg.com/maritime/products/marine-robotics/autonomous-underwater-vehicles/AUV-remus-6000/</a></u></li>

    <li id="[5]">Maritime Archaeology Consultants, El barco, el viaje final, búsqueda, descubrimiento y estudio final, Recuperado 08 de abril, 2019 de <u><a href="http://marinearchaeology.ch/es/historia-del-san-jose/" target="_blank">http://marinearchaeology.ch/es/historia-del-san-jose/</a></u></li>

    <li id="[6]">NOAA Ocean Service Education, Side Scan Sonar. Recuperado 08 de abril, 2019 de <u><a href="https://oceanservice.noaa.gov/education/seafloor-mapping/how_sidescansonar.html" target="_blank">https://oceanservice.noaa.gov/education/seafloor-mapping/how_sidescansonar.html</a></u></li>

    <li id="[7]">Robotics QUT,  15 de noviembre, 2015, Crown-Of-Thorns Starfish Robot (COTSBot ). Recuperado 08 de abril, 2019 de <u><a href="https://www.youtube.com/watch?v=pbPyCydCBLs" target="_blank">https://www.youtube.com/watch?v=pbPyCydCBLs</a></u></li>

    <li id="[8]">Innovation Toronto, 04 de septiembre, 2018, Underwater robot can identify and kill crown-of-thorns starfish while monitoring overall reef health. Recuperado 04 de abril, 2019 de <u><a href="http://www.innovationtoronto.com/2018/09/underwater-robot-can-identify-and-kill-crown-of-thorns-starfish-while-monitoring-overall-reef-health/" target="_blank">http://www.innovationtoronto.com/2018/09/underwater-robot-can-identify-and-kill-crown-of-thorns-starfish-while-monitoring-overall-reef-health/</a></u></li>

    <li id="[9]">NOAA Ocean Exploration and Research, 24 de septiembre, 2014, Sub-bottom Profiling. Recuperado 04 de abril, 2019 de <u><a href="https://oceanexplorer.noaa.gov/okeanos/explorations/ex1404/logs/sept24/sept24.html" target="_blank">https://oceanexplorer.noaa.gov/okeanos/explorations/ex1404/logs/sept24/sept24.html</a></u></li>

    <li id="[10]">NOAA Ocean Explorer, How Multibeam Sonar Works. Recuperado 08 de abril, 2019 de <u><a href="https://oceanexplorer.noaa.gov/explorations/09bermuda/background/multibeam/multibeam.html" target="_blank">https://oceanexplorer.noaa.gov/explorations/09bermuda/background/multibeam/multibeam.html</a></u></li>

    <li id="[11]">WHOI, Woods Hole Oceanographic Institution, 21 de mayo, 2018, New Details on Discovery of San Jose Shipwreck. Recuperado 08 de abril, 2019 de <u><a href="http://www.whoi.edu/news-release/new-details-on-discovery-of-the-san-jose-shipwreck" target="_blank">http://www.whoi.edu/news-release/new-details-on-discovery-of-the-san-jose-shipwreck</a></u></li>

    <li id="[12]">El Tiempo, Martínez, Olga Lucía, 25 de abril, 2018, Así se va a rescatar el 'tesoro' del Galeón San José. Recuperado 08 de abril, 2019 de <u><a href="https://www.eltiempo.com/cultura/arte-y-teatro/como-se-ve-el-galeon-san-jose-y-como-sera-rescatado-209298" target="_blank">https://www.eltiempo.com/cultura/arte-y-teatro/como-se-ve-el-galeon-san-jose-y-como-sera-rescatado-209298</a></u></li>

    <li id="[13]">TechnipFMC, ROV Systems. Recuperado 08 de abril, 2019 de <u><a href="https://www.technipfmc.com/en/what-we-do/subsea/Robotics/rov-systems#" target="_blank">https://www.technipfmc.com/en/what-we-do/subsea/Robotics/rov-systems#</a></u></li>

    <li id="[14]">Deep Blue Sea, 26 de septiembre, 2014, A Schilling Robotics Heavy-Duty ROV. Recuperado 08 de abril, 2019 de <u><a href="https://www.youtube.com/watch?v=Z4c0KfPGXng" target="_blank">https://www.youtube.com/watch?v=Z4c0KfPGXng</a></u></li>

    <li id="[15]">SECOP I, APP DE PATRIMONIO CULTURAL SUMERGIDO PROYECTO SAN JOSE.  Recuperado 08 de abril, 2019 de <u><a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=18-20-5038" target="_blank">https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=18-20-5038</a></u></li>

    <li id="[16]">MAC, Maritime Archaeology Consultants, Metodología Arqueológica. Recuperado 09 de abril, 2018 de <u><a href="http://marinearchaeology.ch/es/arqueologia/" target="_blank">http://marinearchaeology.ch/es/arqueologia/</a></u></li>

    <li id="[17]">Fredrik Søreide and Marek E. Jasinski, 2008, Ormen Lange, Norway—The Deepest Dig, The International Journal of Nautical Archaeology 37.2, doi: 10.1111/j.1095-9270.2008.00192.x</li>

    <li id="[18]">Fredrik Søreide and Marek E. Jasinski, 2008, Ormen Lange, Norway—The Deepest Dig, The International Journal of Nautical Archaeology 37.2, doi: 10.1111/j.1095-9270.2008.00192.x</li>

    <li id="[19]">MAC, Maritime Archaeology Consultants, Metodología Arqueológica. Recuperado 09 de abril, 2018 de <u><a href="http://marinearchaeology.ch/es/arqueologia/" target="_blank">http://marinearchaeology.ch/es/arqueologia/</a></u></li>

    <li id="[20]">Capitán de Navío (RA) Jorge Prieto Diago, Agenda del mar, 30 de julio, 2018, Colombia avanza en investigación submarina. Recuperado 09 de abril, 2019 de <u><a href="http://agendadelmar.com/noticias/colombia-avanza-en-investigacion-submarina/857" target="_blank">http://agendadelmar.com/noticias/colombia-avanza-en-investigacion-submarina/857</a></u></li>

  </ol>
        
</div>



