    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div id="videoHP" class="carousel-inner">
        <div class="carousel-item active">
          <video class="w-100" autoplay muted loop>
            <source src="/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <!-- <div class="carousel-caption d-none d-md-block">
            <h1 class="deepColor">Pionero500</h1>
            <div class="slideShowText1">Puesta a punto del vehiculo operado remotamente desarrollado por la Universidad Pontificia Bolivariana</div>
          </div> -->
        </div>
        <div class="carousel-item">
          <%=image_tag("homePage/deepco_2.jpg", alt: "deepco", class:"d-block w-100")%>
          <div class="carousel-caption2 d-none d-md-block">
            <h1 class="deepColor"><%= t :slide2title %></h1>
            <div class="slideShowText2"><%= t :slide2text %></div>
          </div>
        </div>
        <div class="carousel-item">
          <%=image_tag("homePage/deepco_3.jpg", alt: "deepco", class:"d-block w-100")%>
          <div class="carousel-caption3 d-none d-md-block">
            <h1 class="deepColor"><%= t :slide3title %></h1>
            <div class="slideShowText3"><%= t :slide3text %></div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

    <div class="container margin text-center">
      <h1 class="deepColor"><%= t :whatDeepcoTitle %></h1>
      <p class="textSection"><%= t :whatDeepcoText %></p>
    </div>

    <div class="parallax1 margin"></div>

    <div class="container margin text-center">
      <h1 class="deepColor"><%= t :whatDeepcoDoesTitle %></h1>
      <p class="textSection"><%= t :whatDeepcoDoesText %></p>
    </div>

    <div class="parallax2 margin"></div>

    <div class="container margin text-center">
      <h1 class="deepColor"><%= t :howDeepcoDoesTitle %></h1>
      <p class="textSection"><%= t :howDeepcoDoesText %></p>
    </div>

    <div id="servicios" class="container margin">
      <div class="row">
        <div class="col">
          <div class="container overflow-hidden">
            <div>
            	<%=link_to image_tag("servicios/deepco_1.jpg", alt: "deepco", class:"hover-shadow img-fluid img-thumbnail"), main_services_path %>
              <div class="centered"><p><%= t :service1 %></p></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container overflow-hidden">
            <div>
              <%=link_to image_tag("servicios/deepco_2.jpg", alt: "deepco", class:"hover-shadow img-fluid img-thumbnail"), main_services_path%>
              <div class="centered"><p><%= t :service2 %></p></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container overflow-hidden">
            <div>
              <%=link_to image_tag("servicios/deepco_3.jpg", alt: "deepco", class:"hover-shadow img-fluid img-thumbnail"), main_services_path%>
              <div class="centered"><p><%= t :service3 %></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <h2 class="margin text-center">Apoyan</h2> -->
    
    <div class="row">
      <div class="col-12 text-center marginAboutUs">
        <h3><%= t :supportedBy %></h3>
      </div>
      <div class="col-12 text-center marginAboutUs">
        <div class="">
          <%=image_tag("logos/deepco_upb-cde", alt: "deepco", class:"img-fluid w-25")%>
        </div>
      </div>
      <!-- <div class="col-6 text-center marginAboutUs">
        <div class="">
          <%=image_tag("logos/deepco_upb", alt: "deepco", class:"img-fluid w-25")%>
        </div>
      </div>
      <div class="col-6 text-center marginAboutUs">
        <div class="">
          <%=image_tag("logos/deepco_cde", alt: "deepco", class:"img-fluid w-25")%>
        </div>
      </div> -->
    </div>
  
