<div class="container margin3 justify">  
  <h1 class="deepColor">Consultoria</h1>
</div>

<div class="container margin1 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
      <p><%= t :capabilities3Text1 %></p>
      <p><%= t :capabilities3Text2 %></p>
      <ul>
        <li>
          <p><%= t :capabilities3Ulist1 %></p>
        </li>
        <li>
          <p><%= t :capabilities3Ulist2 %></p>
        </li>
        <li>
          <p><%= t :capabilities3Ulist3 %></p>
        </li>
        <li>
          <p><%= t :capabilities3Ulist4 %></p>
        </li>
      </ul>
    </div>
  </div>
</div>


  <div class="container margin3 justify">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 justify">
          <h2 class="deepColor"><%= t :services1title %></h2>
          <p><%= t :services1description %></p>
          <h3 class="deepColor"><%= t :services1methodologyTitle %></h3>
          <ul>
            <div>
              <h5><%= t :services1methodology0 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology0text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_analisisInfo.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology1 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology1text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_diagnostico.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology2 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology2text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_mtto.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology3 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology3text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_documentacion.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>

<div class="container margin3 justify">  
  <h1 class="deepColor">Inspección</h1>
</div>

<div class="container margin1 justify">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 justify">
      <p>Mediante el uso de “drones submarinos” (mini-ROVs), DeepCo realiza análisis visual reduciendo costos y tiempos muertos en inspecciones rutinarias de infraestructura sumergida.</p>
      <p>Algunas de las soluciones que ofrecemos son:</p>
      <ul>
        <li>
          <p>Integración de sensores para adquisición de información</p>
        </li>
        <li>
          <p>Desarrollo de aplicaciones para georreferenciación de variables físicas e imágenes.</p>
        </li>
        <li>
          <p>Inspección de estructuras sumergidas de granjas acuicolas, transporte marítimo y gestión del agua potable</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="my-auto mx-auto marginForCellphone">
  <%=image_tag("servicios/deepco_blueRov", alt: "deepco", class:"d-block w-25 mx-auto")%>
</div>







