	<div class="container margin justify">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 justify">
          <h2 class="deepColor"><%= t :services1title %></h2>
          <p><%= t :services1description %></p>
          <h3 class="deepColor"><%= t :services1methodologyTitle %></h3>
          <ul>
            <div>
              <h5><%= t :services1methodology0 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology0text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_analisisInfo.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology1 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology1text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_diagnostico.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology2 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology2text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_mtto.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <h5><%= t :services1methodology3 %></h5>
              <div class="container text-center text-md-left">
                <div class="row">
                  <div class="col-md-10 col-sm-12 col-12 justify">
                    <p><%= t :services1methodology3text %></p>
                  </div>
                  <div class="col-md-2 col-sm-12 col-12 iconsService mx-auto marginForCellphone">
                    <%=image_tag("icons/png/deepco_documentacion.png", alt: "deepco", class:"d-block w-75 mx-auto")%>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>


