	<div class="container margin justify">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService justify">
          <h2 class="deepColor"><%= t :service1 %></h2>
          <p><%= t :service1Text1 %></p>
          <p><%= t :service1Text2 %></p>
          <ul>
            <li>
              <p><%= t :service1Ulist1 %></p>
            </li>
            <li>
              <p><%= t :service1Ulist2 %></p>
            </li>
            <li>
              <p><%= t :service1Ulist3 %></p>
            </li>
            <li>
              <p><%= t :service1Ulist4 %></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService margin justify">
          <h2 class="deepColor"><%= t :service2 %></h2>
          <p><%= t :service2Text1 %></p>
          <p><%= t :service2Text2 %></p>
          <ul>
            <li>
              <p><%= t :service2Ulist1 %></p>
            </li>
            <li>
              <p><%= t :service2Ulist2 %></p>
            </li>
            <li>
              <p><%= t :service2Ulist3 %></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 boxShadowService margin justify">
          <h2 class="deepColor"><%= t :service3 %></h2>
          <p><%= t :service3Text1 %></p>
          <p><%= t :service3Text2 %></p>
          <ul>
            <li>
              <p><%= t :service3Ulist1 %></p>
            </li>
            <li>
              <p><%= t :service3Ulist2 %></p>
            </li>
            <li>
              <p><%= t :service3Ulist3 %></p>
            </li>
            <li>
              <p><%= t :service3Ulist4 %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>


