<!DOCTYPE html>
<html>
  <head>
    <title>DeepCo S.A.S | Tecnología Subacuática | ROV | Colombia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <meta name="description" content="Deepco is a Colombian company focused in the utilization of underwater technology to conserve the marine enviroment"> -->
    <meta name="description" content="DeepCo es una compañía Colombiana enfocada en desarrollo de tecnología subacuática para conservar el entorno marino. DeepCo S.A.S">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-expand-md navbar-light bg-white">
      <div class="navbar-brand" id="logo-img">
       <%=link_to image_tag("deepco.png", alt: "deepco", class:"img-fluid"), main_index_path if @locale == "es" %>
       <%=link_to image_tag("deepco_en.png", alt: "deepco", class:"img-fluid"), main_index_path if @locale == "en" %> 
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= @statusGaleon %> text-center">
            <%= link_to(main_galeon_path, class:"nav-link") do %>
              <strong><%= t :galeon %></strong>
            <% end %>            
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= @statusIndex %> text-center">
            <%= link_to(main_index_path, class:"nav-link") do %>
              <%= t :index %>
            <% end %>            
          </li>
          <li class="nav-item <%= @statusServices %> text-center">
            <%= link_to(main_services_path, class:"nav-link") do %>
              <%= t :services %>
            <% end %>   
          </li>
          <li class="nav-item <%= @statusCapabilities %> text-center">
            <%= link_to(main_capabilities_path, class:"nav-link") do %>
              <%= t :capabilities %>
            <% end %>   
          </li>
          <li class="nav-item <%= @statusAboutUs %> text-center">
            <%= link_to(main_aboutUs_path, class:"nav-link") do %>
              <%= t :aboutUs %>
            <% end %>  
          </li>
          <li class="nav-item dropdown text-center">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= t :language %> </a>
            <div id="navbarDropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-center" href="?locale=en"><%= t :language1 %></a>
              <a class="dropdown-item text-center" href="?locale=es"><%= t :language2 %></a>
            </div>  
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 marginAboutUs">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase text-center"><%= t :findUsTitle %></h5>
            <div class="text-center">
              <a href= "https://www.facebook.com/DeepColombia/" class="fa fa-facebook" target="_blank" aria-hidden="true"></a>
              <a href= "https://www.linkedin.com/company/deepco-sas/" class="fa fa-linkedin" target="_blank" aria-hidden="true"></a>
            </div>          

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 col-sm-12 col-xsm-6 border-left">

              <!-- Links -->
              <!-- <h5 class="text-uppercase">Links</h5> -->

              <ul class="list-unstyled">
                <li>
                  <%= link_to(main_index_path) do %>
                    <%= t :index %>
                  <% end %>             
                </li>
                <li>
                  <%= link_to(main_services_path) do %>
                    <%= t :services %>
                  <% end %>
                </li>
                <li>
                  <%= link_to(main_capabilities_path) do %>
                    <%= t :capabilities %>
                  <% end %>
                </li>
                <li>
                  <%= link_to(main_aboutUs_path) do %>
                    <%= t :aboutUs %>
                  <% end %>
                </li>
              </ul>

          </div>
            <!-- Grid column -->
        </div>

        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3 text-center"> 
            <h5 class="text-uppercase"><%= t :mailUsTitle %></h5>             
            <!-- <a href="+57" class="mailto fa fa-phone text-center" target="_blank"> +57 3007921144</a>          -->
            <a href="mailto:contacto@deepco.com.co" class="fa fa-envelope text-center" target="_blank"> contacto@deepco.com.co</a>
                        
          </div> 
        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">2018 © Copyright
        <a>DeepCo.</a>
        <a><%= t :copyright %></a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </body>
</html>
