<!DOCTYPE html>
<html>
  <head>
  	<!-- <meta name="description" content="Deepco is a Colombian company focused in the utilization of underwater technology to conserve the marine enviroment"> -->
    <!-- <meta name="description" content="DeepCo es una compañía Colombiana enfocada en desarrollo de tecnología subacuática para conservar el entorno marino. DeepCo S.A.S"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  </head>
  <body>
    <ul>
      <li><%= link_to (t :language1), locale: :en %></li>
      <li><%= link_to (t :language2), locale: :es %></li>
    </ul>
    <%= yield %>
  </body>
</html>
